@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box; /* adding any padding or border to an element will not affect the width */
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex; /* this will center everything */
  flex-direction: column;
  align-items: center; /* controls where flex items sit on cross axis */
  justify-content: center; /* controls where flex items sit on main axis */
  height: 100vh; /* viewport height */
  overflow: hidden; /* scrollbars won't show by default */
  margin: 0;
}