@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box; /* adding any padding or border to an element will not affect the width */
}

body {
  background-color: darksalmon;
  font-family: 'Roboto', sans-serif;
  display: flex; /* this will center everything */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* viewport height */
  overflow: hidden; /* scrollbars won't show by default */
  margin: 0;
}

.topInput {
  position:absolute;
  top: 100px;
  background: rgba(0,0,0,0.1);
  padding: 10px 20px;
  font-size: 18px;
}

#inputText {
  width: 200px;
  margin: 0 20px 0 20px;
}

.bottomInput {
  position: absolute;
  bottom: 100px;
  background: rgba(0,0,0,0.1);
  padding: 10px 20px;
  font-size: 18px;
}

.inputs {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: darksalmon;
  border: none;
  text-align: center;
}

.inputs:focus {
  outline: none;
}

